ApliwebAgenviaje/ApliwebAgenviaje/Web References/com.somee.serviceshotel/WServiceHotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarServicios">
        <s:complexType />
      </s:element>
      <s:element name="ListarServiciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarServiciosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_strName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerServicioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarServiciosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarServicios" />
  </wsdl:message>
  <wsdl:message name="ListarServiciosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarServiciosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerServicioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerServicio" />
  </wsdl:message>
  <wsdl:message name="ObtenerServicioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerServicioResponse" />
  </wsdl:message>
  <wsdl:portType name="WServiceHotelSoap">
    <wsdl:operation name="ListarServicios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Operacion que Lista los Servicios del hotel</wsdl:documentation>
      <wsdl:input message="tns:ListarServiciosSoapIn" />
      <wsdl:output message="tns:ListarServiciosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerServicio">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Operacion que Obtiene un Servicio especifico segun el Nombre Ingresado</wsdl:documentation>
      <wsdl:input message="tns:ObtenerServicioSoapIn" />
      <wsdl:output message="tns:ObtenerServicioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WServiceHotelSoap" type="tns:WServiceHotelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarServicios">
      <soap:operation soapAction="http://tempuri.org/ListarServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerServicio">
      <soap:operation soapAction="http://tempuri.org/ObtenerServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WServiceHotelSoap12" type="tns:WServiceHotelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarServicios">
      <soap12:operation soapAction="http://tempuri.org/ListarServicios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerServicio">
      <soap12:operation soapAction="http://tempuri.org/ObtenerServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WServiceHotel">
    <wsdl:port name="WServiceHotelSoap" binding="tns:WServiceHotelSoap">
      <soap:address location="http://serviceshotel.somee.com/WServiceHotel.asmx" />
    </wsdl:port>
    <wsdl:port name="WServiceHotelSoap12" binding="tns:WServiceHotelSoap12">
      <soap12:address location="http://serviceshotel.somee.com/WServiceHotel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>